{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Release Dashboard</h1>
            <p>Track all you releases</p>
            <ul>
                <li>sign-up / sign-in</li>
                <li>beautiful ui</li>
            </ul>
            <p><a class="btn btn-primary btn-lg" role="button" href="/signup">Sign-Up now &raquo;</a></p>
        </div>
    </div>
{% endblock %}
