{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ headline }}</h1>
            {{ content|raw }}
        </div>
    </div>
{% endblock %}

